<ion-content padding>
  <!-- SPINNER -->
  <div *ngIf="showSpinner" class="spinner">
    <img src="assets/imgs/spinner_black.png" alt="spinner">
  </div>

  <!-- CONTENT  -->
  <div *ngIf="!showSpinner">

      <!-- TEXT -->
      <ion-item>
        <ion-label class="title_main" text-center>
          {{language.text}}
        </ion-label>
      </ion-item>

      <div class="date_box">
        <div class="img_box">
          <img class="img_1" src="assets/imgs/clock.png" alt="">
        </div>

        <!-- DATE -->
        <ion-item>
          <ion-label>{{language.date.dateName}}</ion-label>
          <ion-datetime [(ngModel)]="date" [monthNames]="monthNames" [monthShortNames]="monthShortNames" [dayShortNames]="daysShortNames" [dayNames]="daysNames"
                        displayFormat="DD/MM/YYYY" [doneText]="language.date.button_ok" [cancelText]="language.date.button_cancel" pickerFormat="MMMM-DD-YYYY"
                        (click)="soundEffect()"></ion-datetime>
        </ion-item>
        <!-- HOUR -->
        <ion-item>
          <ion-label>{{language.date.hourName}}</ion-label>
          <ion-datetime [(ngModel)]="hour" [doneText]="language.date.button_ok" [cancelText]="language.date.button_cancel" displayFormat="HH:mm" pickerFormat="HH:mm"
                        (click)="soundEffect()"></ion-datetime>
        </ion-item>
      </div>

      <!-- CONFIG BUTTON -->
      <ion-fab bottom center>
        <button ion-fab color="primary"
                (click)="showConfig()">
          <ion-icon class="button_fab" name="ios-construct"></ion-icon>
        </button>
      </ion-fab>
  </div>
</ion-content>
