page-config {

  .flags_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flag{
    height: 50px;
    width: 50px;
    padding: 5px;
  }

  .map-full-card-content {
    position:sticky;
    height: 100% !important;
    width: 100%;
    margin: 0;
  }

  agm-map {
  	  height: 90%;
  }

}
